[duosecurity]
name=Duo Security Repository
baseurl=https://pkg.duosecurity.com/{{ "RedHat" if ansible_distribution == "RedHat" else "CentOSStream" }}/{{ ansible_distribution_major_version }}/$basearch
enabled=1
gpgcheck=1
